/* Header Section Start  */
.header__inner {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.menu a {
    font-size: 15px;
    color: #133233;
    font-weight: 600;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu a:hover {
    color: #000000;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
}

/* Header Section End  */

/* Sidebar CSS start */
.mobi__logo {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.nav-toggle {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    height: 0;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    transform: rotate(0deg);
    overflow: hidden;
}

.close-btn {
    font-size: 24px;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.sidebar.show-sidebar {
    transform: translate(0);
    width: 400px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 9;
}


/* Sidebar CSS end */
@media screen and (max-width: 768px) {

    /* Header  start  */
    .header__nav {
        display: none;
    }

    .header__right {
        display: none;
    }

    .nav-toggle {
        height: auto;
    }

    /* Header  end  */

}