:root {
    --primary-font: "Inter";
    --secondry-font: "Poppins";
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
    -webkit-perspective: 0;
    perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
    backface-visibility: hidden;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--color-white);
    scroll-behavior: smooth;
}

/* Hero Section Start  */
.hero__inner {
    position: relative;
}

.hero__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__content {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
    padding: 192px 0 234px;

}

.hero__box-content {
    position: relative;
    background-color: #fdfcf4;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-width: 3px 3px 6px;
    border-radius: 12px 12px 14px;
    box-shadow: #00000040 4px 4px 16px;
    border-color: #0b3334;
    border-style: solid;
}

.hero__box-content .heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 59px;
    align-items: center;
    color: #004236;
    margin-bottom: 20px;
}

.banner-text {
    color: #0B3334;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-text em {
    font-weight: 600;
}

a.banner-btn {
    display: inline-block;
    background-color: #004236;
    color: #fff;
    border-radius: 10px;
    padding: 18px 17px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Hero Section End  */


/* Certified Section Start  */
.certified__inner {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #004236;
}

.certified__items {
    display: flex;
    justify-content: space-between;
}

.certified__content {
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.certified__title {
    font-size: 20px;
    line-height: 33px;
    color: #0B3334;
    font-weight: 400;
}

/* Certified Section End  */

@media screen and (max-width: 768px) {

    /* Hero section start  */
    .hero__box-content {
        max-width: fit-content;
    }

    .hero__content {
        padding: 90px 15px 100px;
    }

    .hero__box-content .heading {
        font-size: 40px;
        line-height: 40px;

    }

    /* Hero section end  */

    .certified__items {
        flex-direction: column;
        row-gap: 30px;
    }

    .certified__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}